<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title th:text="'Therapeut - ' + ${therapist.therapistFirstName} + ' ' + ${therapist.therapistLastName}"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>
            <!-- A form with the Therapist's data with a button to save changes -->
            <form method='post'>
                <label>Voornaam</label><input type="text" name="firstName" th:value="${therapist.therapistFirstName}"/>
                <label>Achternaam</label><input type="text" name="lastName" th:value="${therapist.therapistLastName}"/>
                <label>Geboortedatum</label><input type="date" name="birthDate" th:value="${therapist.therapistBirthdate}"/>
                <label>In dienst sinds</label><input type="date" name="dateStart" th:value="${therapist.dateStart}"/>
                <label>Straat</label><input type="text" name="street" th:value="${therapist.therapistStreet}"/>
                <label>HuisNr</label><input type="text" name="houseNr" th:value="${therapist.therapistHouseNr}"/>
                <label>BSN</label><input type="text" name="SSN" th:value="${therapist.therapistSSN}"/>
                <label>Postcode</label><input type="text" name="ZIPCode" th:value="${therapist.ZIPCode}"/>
                <label>Telefoonnummer</label><input type="text" name="telephoneNr" th:value="${therapist.therapistTelephoneNr}"/>
                <label>Woonplaats</label><input type="text" name="firstName" th:value="${therapist.therapistFirstName} + ' ' + ${therapist.therapistLastName}"/>
                <label>Mobiel</label><input type="text" name="mobileNr" th:value="${therapist.therapistMobileNr}"/>
                <label>Wachtwoord</label><input type="text" name="password" th:value="${therapist.therapistFirstName}"/>
                <label>E-mail</label><input type="email" name="email" th:value="${therapist.therapistEmail}"/>
                <label>Wachtwoord Nogmaals</label><input type="text" name="passwordRepeat" th:value="${therapist.therapistFirstName}"/>
                <label>Opmerkingen</label><textarea name="password" th:value="${therapist.therapistFirstName}"/>
                <button type="submit">Opslaan</button>
            </form>
        </div>
    </body>
</html>